@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');


.App {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(231, 233, 236);
}

div.landing-page-container {
  background-color: rgb(231, 233, 236);
  height: 100vh;
}


h1 {
  text-align: center;
  padding-top: 30px;
  font-family: 'Caveat', cursive;
}

h2 {
  text-align: center;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  
}

.h3, h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 15px;
}

.h3 {
  font-weight: 100;
}

h4 {
  text-align: center;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  
}



input {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; 
}

input.form-control {
  margin-top: 5px;
  margin-bottom: 18px;
}

button.btn.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus-visible {
  background-color: rgb(146, 169, 211);
  border-color: rgb(146, 169, 211);
  margin-top: 10px;
  width: 100%;
}

button.btn-primary:hover {
  background-color: black;
  border-color: black;
}

button.btn.btn-secondary {
  margin-top: 10px;
  width: 100%;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
}



.login-form {
  margin-top: 40px;
  margin-right: 50px;
  width: 22%;
  margin-left: 25%;
  padding: 30px;
  background-color: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  float: left;
}

.signup-form {
  margin-top: 50px;
  display: flex; 
  flex-flow: column wrap; 
  width: 22%;
  margin-left: 38%;
  padding: 30px;
  background-color: rgb(146, 169, 211);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#signup-button {
  border: black;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}



.navbar-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 160vh;
  width: 14%;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.navbar-text {
  font-family: 'Caveat', cursive;
}

.hi-text {
  margin-bottom: 8px;
  color: rgb(146, 169, 211);
  text-align: center;
  font-size: 22px;
}


.avatar {
  max-width: 95%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-width: 2px;
  border-color: rgb(146, 169, 211);
  border-style: solid;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 30px;
  margin-left: 1%;
  
}

#nav-button {
  background-color: rgb(146, 169, 211);
  color: white;
}

#nav-button:hover {
  background-color: black;
  color: white;
}

.nav-button {
  width: 100%;
  padding: 2px;
}


.dashboard-header {
  background-color: rgb(231, 233, 236);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 85%;
  right: 0px;
  top: 0px;
  position: absolute;
}

.dashboard-container {
  background-color: rgb(231, 233, 236);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 85%;
  right: 0px;
  top: 60px;
  position: absolute;
}


.add-new-feature-container {
  background-color: rgb(231, 233, 236);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  right: 0px;
  top: 0px;
  position: absolute; 
}

.feature-card {
  background-color: white;
  text-align: center;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  width: 28%;
  margin: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 20px 35px 25px 35px;;
}

.feature-image {
  width: 99%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-width: 2px;
  border-color: rgb(146, 169, 211);
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 18px;
}

#feature-card-btn {
  color: black;
  background: white;
}

.submit-share-button {
  margin-top: 10px;
}

.card-delete-button {
  margin-top: 12px;
  float: right;
  background: white;
  border-color: rgb(146, 169, 211);
  color: grey;
  font-size: 12px;
}

.network-image {
  width: 15%;
  margin-left: 8px;
}

.view-image {
  width: 15%;
  margin-left: 8px;
}

.feature-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.feature-form-inputs {
  margin-bottom: 20px;
  height: 20px;
}

a:link {
  color: rgb(89, 142, 241);
}

.resource-container {
  background-color: rgb(231, 233, 236);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  right: 0px;
  top: 0px;
  position: absolute;
}

#resource-details {
  overflow-y: scroll;
  max-height: 78vh;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  width: 85%;
}

.update-feature-container {
  background: white;
  width: 60%;
  margin-top: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  word-wrap: break-word;
}


.messages-container {
  background-color: rgb(146, 169, 211);
  color: black;
  border-width: 2px;
  max-height: 98vh;
  width: 34%;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.message-block {
  background-color: white;
  height: 50%;
  overflow-y: scroll;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

#send-message {
  width: 98%;
  margin-left: 1%;
  margin-top: 5%;
}

#send-message-btn {
  border: white;
  border-width: 1px;
  border-style: solid;
}

.feature-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  margin-left: 8%;
}

select#user.select-dropdown {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

div.modal-content {
  width: 75%;
}

.footer-sources {
  padding-top: 100vh;
  font-size: 12px;
}
