@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  
}

input {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; 
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.login-form {
  margin-top: 50px;
  display: flex; 
  flex-flow: column wrap; 
  width: 15%;
  margin-left: 42%;
  background-color: rgb(146, 169, 211);
}

.signup-form {
  margin-top: 50px;
  display: flex; 
  flex-flow: column wrap; 
  width: 15%;
  margin-left: 42%;
  background-color: rgb(146, 169, 211);
}

.navbar-container {
  background-color: rgb(146, 169, 211);
  display: flex;
  flex-direction: column;
  height: 500vh;
  width: 15%;
}

.avatar {
  max-width: 90%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-width: 2px;
  border-color: rgb(8, 8, 8);
  border-style: solid;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 30px;
  
}

.nav-button {
  width: 100%;
  margin-top: 5px;
  padding: 2px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

.dashboard-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 105vh;
  width: 85%;
  right: 0px;
  top: 0px;
  position: absolute;
}

.add-new-feature-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  right: 0px;
  top: 0px;
  position: absolute; 
}

.feature-card {
  border-width: 2px;
  border-color: rgb(8, 8, 8);
  border-style: solid;
  width: 25%;
  height: 60%;
  margin-top: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.feature-image {
  width: 80%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-width: 2px;
  border-color: rgb(8, 8, 8);
  border-style: solid;
}

.feature-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 25%;
  margin-top: 10px;
}

.feature-form-inputs {
  margin-bottom: 20px;
  height: 20px;
}

.resource-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 105vh;
  width: 85%;
  right: 0px;
  top: 0px;
  position: absolute;
}

.update-feature-container {
  border-width: 2px;
  border-color: rgb(8, 8, 8);
  border-style: solid;
  width: 44%;
  margin-top: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.messages-container {
  border-width: 2px;
  border-color: rgb(8, 8, 8);
  border-style: solid;
  width: 44%;
  margin-top: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.footer-sources {
  padding-top: 500px;
}
